.comment {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--clr-gray);
  padding: 1rem;

  &__user {
    font-size: 1.5rem;
    color: var(--clr-light-dark);
  }
  
  &__body {
    color: var(--clr-light-dark);
  }
}