:root {
  --clr-dark: #2c2519;
  --clr-light-dark: #535961;
  --clr-medium-dark: #4C6085;
  --clr-gray: #f8eeee;
  --clr-accent-light: #ff7070;
  --clr-accent: #b39dc0;
  --clr-light: #f7f7f7;

  --font-family: "Inter", sans-serif;
  
  --fs-small: 0.75rem;
  --fs-regular: 0.875rem;
  --fs-medium: 1rem;
  --fs-large: 1.25rem;
  --fs-xlarge: 1.5rem;
  
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url("./fonts/Inter/Inter-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url("./fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url("./fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url("./fonts/Inter/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url("./fonts/Inter/Inter-Black.ttf") format("truetype");
  font-weight: 300;
}

body {
  font-family: var(--font-family);
  font-size: var(--fw-regular);
  background-color: var(--clr-light);
  color: var(--clr-medium-dark);
}

input,
button,
select,
a {
  font-family: var(--font-family);
}

.container {
  width: 90%;
  max-width: var(--max-width, 1440px);
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}